@model IEnumerable<Local_Service_marketPlace.Models.ApplicationUser>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <h4 class="mb-4">System Users</h4>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                            <td>@string.Join(", ", await UserManager.GetRolesAsync(user))</td>
                            <td>
                                @if (user.IsActive)
                                {
                                    <span class="text-success">Active</span>
                                }
                                else
                                {

                                    <span class="text-danger">Deactivated</span>
                                }
                            </td>
                            <td>
                                <form asp-action="ToggleStatus" asp-route-id="@user.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-outline-warning">
                                        @(user.IsActive ? "Deactivate" : "Activate")
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@inject UserManager<ApplicationUser> UserManager